<html ng-app="root">
<head>
	<title>angular.js</title>
	<script src="ventor/angular.min.js"></script>
</head>
<body>
		<input placeolder="input your name" ng-model="name">
		<h1>{{name}}</h1>
		<div ng-controller="ngWrap">
			<h1 ng-repeat="item in items">{{item.name}}</h1>
		</div>


        <div ng-controller="index">
            <input type="text" ng-model="message" />
            {{message}}
            <div ng-if="true">
                <input type="text" ng-model="message" />
                {{message}}
            </div>
        </div>
</body>
<script>
    angular.module('root',[])
            .controller("ngWrap", ["$scope", function ($scope) {
                $scope.items=[
                    {name:"1"},
                    {name:"2"},
                    {name:"3"}
                ];
                $scope.$watch("name",function(newName){
                    console.log(newName)
                })
            }]).
            controller("index", ["$scope", function($scope) {
                $scope.message = "Hello World";
            }]);
</script>
</html>